<div *ngFor="let grupo of productosPorCategoria" class="mb-5">
  <div class="categoria-wrapper text-center my-5">
    <h4 class="categoria-titulo explosive-text animate__animated animate__fadeInDown">
      {{ grupo.categoria }}
    </h4>
  </div>

  <div id="carousel-{{ grupo.categoria }}" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
    <div class="carousel-inner">

      <div *ngFor="let slide of grupo.slides; let i = index" 
          class="carousel-item py-4 px-2" 
          [class.active]="i === 0"
          style="background-color: #c9c7c7;">
          
        <div class="row justify-content-center">
          <div *ngFor="let producto of slide" class="col-md-4">
            <div class="card h-100 m-2 shadow-sm border-0">
              <img [src]="'img/productos/' + producto.idProducto + '.jpg'" 
                  class="card-img-top p-3" 
                  alt="{{ producto.nombre }}"
                  style="height: 200px; object-fit: contain;"> 
                  
              <div class="card-body text-center">
                <h5 class="card-title">{{ producto.nombre }}</h5>
                <p class="card-text text-success fw-bold">Precio: S/ {{ producto.precio }}</p>
                <p class="card-text text-muted">Stock: {{ producto.stock }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Controles -->
    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel-' + grupo.categoria"
 data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel-' + grupo.categoria"
 data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
